:443, CURRENT_DOMAIN
tls {
	dns cloudflare CF_API_TOKEN
}
route {
	forward_proxy {
		basic_auth NAIVE_USER NAIVE_PASSWD
		hide_ip
		hide_via
		probe_resistance
		upstream socks5://127.0.0.1:XRAY_PORT
	}

	respond "" 200
}
